footer.footer
    .footer-body
        .shell
            h5.footer-title Kurse
            .footer-content
                .footer-cols.clear
                    .footer-col
                        p Unsere Instruktoren pr&auml;sentieren Dir die Top-Programme des Weltmarktf&uuml;hrers &bdquo;Les Mills&ldquo;. Diese bestehend aus effizient zusammengestellten &Uuml;bungen, kombiniert mit motivierender Musik. Jedes Programm verfolgt hierbei jeweils einen anderen Schwerpunkt. Alle 3 Monate wechseln die Programme und werden durch neue ersetzt.
                        p Wir bieten Dir die besten Group-Fitness-Instruktoren im Raum Bern, die Dich nicht nur motivieren, sondern Dich auch sportlich in kurzer Zeit weiter bringen und herausfordern.
                    .footer-col
                        p Der Kurskalender wird innerhalb der n&auml;chsten Monate schrittweise ausgebaut. Der aktuelle Plan ist jeweils auf unserer Webseite PW30.CH ersichtlich.
                        p Die Dauer einer Lektion haben wir nach unserem Konzept auf 30 Minuten beschr&auml;nkt und hierf&uuml;r spezielle Programme zusammengestellt, die in diesem Zeitrahmen ein intensives Training erlauben. Mit diesen Programmen erreichst Du schneller Resultate, wirst fit und dies mit weniger Zeitaufwand pro Training.
    .footer-foot
        .shell
            a.logo-footer(href='#')
            p.copyright &copy; 2016 &ndash; Powered by Tatkraft Creative Training
            p
                | TATKRAFT-werk GmbH &ndash;
                a(href='http://tatkraft-training.ch/') tatkraft-training.ch/
                |  - +41 79 344 65 14

| <?php wp_footer(); ?>
