doctype
html
  head
    meta(charset="UTF-8")
    title Dominique Rahm | d3orn | Foundation Setup

    meta(name='description', content='description')

    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(rel="shortcut icon" href="img/favicon.ico")

    link(rel="stylesheet", href='css/styles.css')

    meta(property="og:site_name" content="d3orn")
    meta(property="og:type" content="Website")
    meta(property="og:image" content="")
    meta(property="og:url" content="https://github.com/d3orn")
    meta(property="og:description" content="Dominique Rahm | d3orn | Foundation Setup")

  body
    header

    main

    footer

    script(src="js/libs.js")
    script(src="js/app.js")
